<!doctype html>
<html>
    <head>
        <title>{{ page_title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/header.css">
    </head>
    <body>
        <header>
            {{> base/title}}
            <nav>
              {{> base/nav}}
            </nav>
        </header>
        <main>
            {{> main }}
        </main>
        <footer>
            {{> base/footer}}
        </footer>       
    </body>
</html>